/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
} */

.map-external-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

.calculator-container {
    
    max-width: 700px !important;
}

.map-container {
    text-align: center;
    
}

.map {
    position: relative;
    width: 700px;
    height: 500px;
    border: 7px solid rgb(26,188,156);
    border-radius: 3px;
    margin: 0 auto;
} 

.map-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkpoint {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.checkpoint img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.question-container {
    margin-top: 20px;
    display: none;
}

.question-container p {
    font-size: 1.2em;
}

.question-container input {
    padding: 5px;
    font-size: 1em;
}

.question-container button {
    padding: 5px 10px;
    font-size: 1em;
}

#answer {
    border-radius: 5px;
}


